@charset "UTF-8";


/* CSS Document */
*,html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family:font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}
input{
	font-family:font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
}
body {
	line-height: 1
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
nav ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: none
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none !important;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold
}
del {
	text-decoration: line-through
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
input, select {
	vertical-align: middle
}
li {
	list-style: none;
}
/*common*/
* {
	padding: 0;
	margin: 0;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}






/* common */
body{
/*  background:url(../images/bg.jpg);*/
	width:100%;
}

.sec_navi{
	position:fixed;
	top:0;left:0;z-index:200;
	width:100%;
	background:#fff;
	border-bottom:1px solid #ffa727;
}
.navi{
	height:50px;
	position:relative;
	padding-top:10px;
}
.navi .left{
	position:absolute;
	left:1.5%;
	padding-top:0;
}
.navi .right{
	position:absolute;
	right:1.5%;
	width:620px;
	padding-top:3px;
}
.navi .right .right_wrap{
	
}
.navi .right .menu{
	float:left;
	padding-top:8px;
}
.navi .right .menu .inner a{
	display:block;
	float:left;
	padding-right:25px;
}
.navi .right .sns{
	float:right;
	padding-top:3px;
}



.sec_right_navi{
	position:absolute;
	right:20px;
	top:50%;
	width:50px;
	z-index:101;
}

body.main{
	background:url(../images/bg.jpg) repeat-x center top;	
}

.wrap_sec_top{
	background:url(../images/bg_top.jpg) no-repeat center top;	
}


.sec_top{
	width:1000px;
	margin:0 auto;
	padding-bottom:20px;
}
.sec_top .block_title{
	text-align:center;
	background:url(../images/title.png) no-repeat center bottom;
	width:943px;
	height:803px;
	position:relative;
}
.sec_top .block_p_num{
	text-align:center;
	font-size:30px;
	font-weight:bold;
	position:absolute;
	bottom:60px;
	width:943px;
}
.sec_top .btn_gift{
	position:absolute;
	bottom:-20px;
	width:943px;
	text-align:right;
	right:-10px;
}
.sec_top .btn_gift a{
}

.wrap_sec_list{
	background:#f9eddc;
}
.sec_list{
	padding:40px 0;
	width:1000px;
	margin:0 auto;
}
.sec_list .title{
	text-align:center;
	padding:30px 0;
}
.sec_list .inner{
}
.sec_list .inner .one_list{
	width:320px;
	padding-right:10px;
	padding-bottom:30px;
	float:left;
}
.sec_list .inner .one_list .img_bloger a{
	display:block;
}
.sec_list .inner .one_list .btn_suggest{
    width:289px;
	height:59px;
	background:url(../images/btn_suggest.png) no-repeat top left;
	margin-top:10px;
}
.sec_list .inner .one_list .btn_suggest a{
	display:block;
	padding:17px 0;
	padding-right:40px;
	text-align:right;
	color:#fff;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
}

.wrap_sec_gift{
	background:#f9eddc;
}
.sec_gift{
	border-top:none;
	padding:0;
	text-align:center;
}

.sec_howto{
	padding:0;
	text-align:center;
}

.wrap_sec_give{
	background:#d1f0f6;
}
.sec_give{
	text-align:center;
	width:1000px;
	margin:0 auto;
	position:relative;
}
.sec_give .cnt{
	position:absolute;
	width:115px;
	top:255px;
	left:280px;
	text-align:center;
	z-index:121;
	font-size:18px;
	font-family:'나눔고딕',nanumgothic,'돋움',Dotum,Helvetica,'Apple SD Gothic Neo',Sans-serif;
	font-weight:bold;
	color:#fff;
}
.sec_give .cnt_man{
	position:absolute;
	width:405px;
	top:455px;
	left:80px;
	text-align:center;
	z-index:120;
}


.sec_give .runner{
	position:absolute;
	top:672px;
	left:10px;
	z-index:120;
}

.sec_give .bg_gage{
    position:absolute;
	top:728px;
	left:26px;
	z-index:119;
}
.sec_give .gage_bar{
    position:absolute;
	top:728px;
	left:43px;
	z-index:118;
	width:912px;
	height:36px;	
}
.sec_give .gage_bar .inner{
	position:relative;
	width:912px;
	height:36px;	
}
.sec_give .gage_bar .inner .bars{
	width:20%;
	height:36px;	
	background:url(../images/bg_bars.jpg) repeat-x;
}

.sec_give .img_give_graphic{
	position:relative;
	height:1383px;
	background:url(../images/wrap_bg_give.jpg) no-repeat top center;
}
.sec_give .img_give_graphic .bg{
	position:absolute;
	background:url(../images/bg_give.png) no-repeat top center;
	height:1383px;
	width:997px;
	z-index:100;
}
.sec_give .img_give_graphic .mull{
	position:absolute;
	bottom:80px;
	right:90px;
	z-index:99;
	width:319px;
}


.wrap_sec_movie{
	background:#f9eddc;
}
.sec_movie{
	width:1000px;
	margin:0 auto;
	padding:30px 0 60px;
}
.sec_movie .title{
	text-align: center;
	padding-bottom:30px;
}
.sec_movie .block_movie{
	width:868px;
	border:3px solid #fdd590;
	margin:0 auto;
}


.wrap_sec_app{
	background:url(../images/bg_app.jpg) repeat-x;
	height:345px;
}
.sec_app{
	width:1000px;
	margin:0 auto;
	text-align:center;
	
}


.sec_footer{
	padding:30px 0 50px;
	width:1000px;
	margin:0 auto;
}



/*popup*/
.popup_wrap {
	position:relative;
	background:#f7edf2;
}
.popup_wrap .p_position{
	position:relative;
	width:860px;
	height:735px;
}
.popup_wrap .p_position.p_agree_1{
	position:relative;
	width:547px;
	height:624px;
}
.popup_wrap .p_position.p_agree_2{
	position:relative;
	width:458px;
	height:435px;
}


.popup_wrap .p_position.p_main{
	background:url(../images/popup/bg_main.jpg) no-repeat;
}
.popup_wrap .p_position.p_main.input_1{
	background:url(../images/popup/footer.jpg) no-repeat bottom;
}
.popup_wrap .p_position.p_main.input_2{
	background:#f7edf2;
}


.popup_wrap .p_position .block_content{
	z-index:200;
}
.popup_wrap .p_position .block_content .block_product{
	width:700px;
	padding-top:240px;
	padding-left:80px;
}
.popup_wrap .p_position .block_content .block_product ul{
	margin-bottom:20px;
}
.popup_wrap .p_position .block_content .block_product ul li{
	display:block;
	float:left;
	width:175px;
}


.popup_wrap .p_position .block_content .tab_menu{
	width:734px;
	margin-left:65px;
	margin-top:5px;
}
.popup_wrap .p_position .block_content .tab_menu .inner{
	width:100%;
}
.popup_wrap .p_position .block_content .tab_menu .inner div{
	text-align:center;
	float:left;
}
.popup_wrap .p_position .block_content .tab_menu .inner a{
	display:block;
}
.popup_wrap .p_position .block_content .tab_menu .inner a.on{
	background:#000;
}


.popup_wrap .p_position .block_content .block_input{
	border:1px solid #000;
	background:#fff;
	width:732px;
	margin-left:65px;
	margin-top:-4px;
}



.popup_wrap .p_position .block_content .block_input .inner{
	padding:20px 0;
}

.popup_wrap .p_position.input_2 .block_content .block_input .inner{
	padding:60px 0;
}
.popup_wrap .p_position.input_2 .block_content .block_input .inner.comp2{
	padding:100px 0;
}
.popup_wrap .p_position.input_2 .block_content .block_input .inner.dhni{
	padding:30px 0 100px;
	background:url(../images/popup/bg_dhni.jpg) no-repeat bottom;
}

.popup_wrap .p_position.input_2 .block_content .block_input .inner .btns{
	text-align:center;
	padding:10px 0 20px;
}
.popup_wrap .p_position.input_2 .block_content .block_input .inner .btns .btn{
	padding:3px 0;
}



.popup_wrap .p_position .block_content .block_input .inner .txt{
	text-align:center;
	padding-bottom:10px;
}
.popup_wrap .p_position .block_content .block_input .inner.dhni .txt{
	text-align:center;
	padding-bottom:30px;
}
.popup_wrap .p_position .block_content .block_input .inner .btn_in{
	text-align:center;
	padding-top:20px;
}


.popup_wrap .p_position .block_content .block_input .input_box,
.popup_wrap .p_position .block_content .block_input .check_box{
	width:365px;
	margin:0 auto;
}
.popup_wrap .p_position .block_content .block_input .check_box{
	border-top:1px solid #c7c7c7;
	padding-top:20px;
	margin-top:10px;
}

.popup_wrap .p_position .block_content .block_input .inner ul li{
	float:left;
	display:block;
}
.popup_wrap .p_position .block_content .block_input .inner ul li.label{
	width:120px;
}

.popup_wrap .p_position .block_content .block_input .inner input{
	border:1px solid #000;
	padding:3px;
	font-size:13px;
	color:#000;
	width:237px;
}
.popup_wrap .p_position .block_content .block_input .inner li.in_num input{
	width:70px;
	margin-right:5px;
	display:inline-block
}
.popup_wrap .p_position .block_content .block_input .inner li.in_num input.last{
	margin-right:0;
}

.popup_wrap .p_position .block_content .block_input .check_box .inner{
	width:100%;
	padding:0 ;
}
.popup_wrap .p_position .block_content .block_input .check_box .inner div{
	float:left;
}
.popup_wrap .p_position .block_content .block_input .check_box .inner div.check{
	width:19px;
}
.popup_wrap .p_position .block_content .block_input .check_box .inner div.c_t{
	width:280px;
}


.popup_wrap .p_position .block_content .block_input .upload_pic{
	width:90%;
	border-top:1px solid #ccc;
	margin:0 auto;
	position:relative;
	height:140px;
	padding:20px 0 0;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb{
	position:absolute;
	bottom:0;
	width:380px;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs{
	width:100%;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs .label,
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs .pics{
	float:left;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs .pics .inner_pics{
	width:100%;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs .pics .inner_pics .pic{
	float:left;
	border:1px solid #000;
	width:50px;
	height:50px;
	margin-right:2px;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .inner_thumbs .pics .inner_pics .pic img{
	width:50px;
	height:50px;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload{
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload{
	width:100%;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .label,
.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs{
	float:left;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs{
	width:270px;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs.right{
	padding-left:30px;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs .one.second{
	margin-top:-5px;
	width:100%;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs .one_inner{
	width:100%;
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs .one_inner div{
	float:left;
}
.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .inputs .one_inner div input{
	padding:4px 3px;
	width:200px;
	
}

.popup_wrap .p_position .block_content .block_input .upload_pic .upload .inner_upload .label,
.popup_wrap .p_position .block_content .block_input .upload_pic .thumb .label{
	width:85px;
}




.popup_wrap .p_position .block_content .block_input .inner .input_dhni{
	width:340px;
	margin:0 auto;
}
.popup_wrap .p_position .block_content .block_input .inner .input_dhni .one{
}
.popup_wrap .p_position .block_content .block_input .inner .input_dhni .one .inner_one{
	width:100%;
}
.popup_wrap .p_position .block_content .block_input .inner .input_dhni .one .inner_one .label,
.popup_wrap .p_position .block_content .block_input .inner .input_dhni .one .inner_one .input{
	float:left;
}


.popup_wrap .p_position .block_close {
	width:100%;
	position:absolute;
	padding:0 0 0;
	z-index:300;
	top:13px;
	right:13px;
}
.popup_wrap .block_close .btn_close{
	display:block;
	float:right;
	width:25px;
	height:25px;
}
.popup_wrap .title{
	text-align:center;
}
.popup_wrap .input_1 .title,
.popup_wrap .input_2 .title{
	padding-top:25px;
}
.popup_wrap .input_2 .title.comp{
	padding-bottom:25px;
}
.popup_wrap .txt_notice{
	text-align:center;
	padding:10px 0 0;
}
.popup_wrap .txt_notice.dhni{
	text-align:center;
	padding:20px 0 0;
}



.popup_wrap .btn_block{
	text-align:center;
}
.popup_wrap .btn_block.two{
	text-align:center;
	padding-top:20px;
}
.popup_wrap .btn_block.two .inner{
	width:100%;
}
.popup_wrap .btn_block.two .inner div{
	float:left;
	width:50%;
	text-align:left;
}
.popup_wrap .btn_block.two .inner div.left{
	float:left;
	width:49%;
	padding-right:1%;
	text-align:right;
}

/* 팝업 jQuery ( Magnific-Popup ) 관련 CSS */
/* Styles for dialog window */
#input_1 {
	background: white;
	position: relative;
}

.mask{display:none; position:absolute;top:0;left:0;width:100%;height:100%;background:url(../images/mask_bg.png) repeat;z-index:8}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;

	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 



	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;

	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	-webkit-transform: scale(0.8); 
	-moz-transform: scale(0.8); 
	-ms-transform: scale(0.8); 
	-o-transform: scale(0.8); 
	transform: scale(0.8); 

	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0.001; /* Chrome opacity transition bug */
	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;

	-webkit-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-moz-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-ms-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	-o-transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );
	transform: translateY(-20px) perspective( 600px ) rotateX( 10deg );

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-moz-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-ms-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	-o-transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
	transform: translateY(0) perspective( 600px ) rotateX( 0 ); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;

	-webkit-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-moz-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-ms-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	-o-transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
	transform: translateY(-10px) perspective( 600px ) rotateX( 10deg ); 
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0.01;

	-webkit-transition: opacity 0.3s ease-out; 
	-moz-transition: opacity 0.3s ease-out; 
	-o-transition: opacity 0.3s ease-out; 
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}




